body {
  padding-top: 100px;
}
.dapp-text {
  font-size: 150%;
}
nav {
  width: 100%;
  height: 80px;
  /*background: -webkit-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);*/
  /*background: -o-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);*/
  /*background: linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);*/
  /*border-radius: 6px !important;
  -moz-border-radius: 6px !important;*/
}
.nav a{
    font-size: 1.8em !important;
    }
.nav li{
    padding-right:5px;
   }
